<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hamburger</title>
</head>
<body>
    <div class="parent"> 
        <a href="#" id="btn-hamburger"class="hamburger">
            <div id="hamburgerLines" class="hamburger__lines">
                <span class="top span-style"></span>
                <span class="middle span-style"></span>
                <span class="bottom span-style"></span>
            </div>
        </a>
        <script src="app.js"></script>
</body>
</html>